.pagination {
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 24px;

    .buttonWrap {
      display: flex;
      flex-direction: column;
      padding: 16px 12px;
      border-radius: 2px;
      border: 2px solid #EBEAEB;

      min-width: 120px;
      cursor: pointer;
    }
  }
}